#grafos .marginx {
    /*width: 1000px !important;*/
    margin-left: auto !important;
    margin-right: auto !important;
}

#grafos .dividerg {
    border-bottom: 2px solid black;
    margin-left: 20% !important;
    margin-right: 20% !important;
}


/*#dibujo {
    width: 600px !important;
    height: 400px !important;
    border: 1px solid lightgray;
}*/

#resultado {
    position: relative !important;
    width: 700px !important;
    height: 500px !important;
    border: 3px solid #CDA434 !important;
    border-radius: 20px !important;
    background-color: #9c989873 !important;
}

#node-popUp {
    color: black;
    display: none;
    position: absolute;
    border-radius: 20px;
    z-index: 299;
    width: 250px;
    height: 170px;
    background-color: white;
    border-style: solid;
    border-width: 3px;
    border-color: #CDA434;
    padding: 10px;
    text-align: center;
}

#edge-popUp {
    display: none;
    position: absolute;
    border-radius: 20px;
    z-index: 299;
    width: 250px;
    height: 150px;
    background-color: #f9f9f9;
    border-style: solid;
    border-width: 3px;
    border-color: #CDA434;
    padding: 10px;
    text-align: center !important;
}