#grafos .marginx {
    /*width: 1000px !important;*/
    margin-left: auto !important;
    margin-right: auto !important;
}

#grafos .dividerg {
    border-bottom: 2px solid black;
    margin-left: 20% !important;
    margin-right: 20% !important;
    margin: 0;
}

#resultado {
    position: relative !important;
    width: 700px !important;
    height: 500px !important;
    border: 3px solid #CDA434 !important;
    border-radius: 20px !important;
    background-color: #9c989873 !important;
}

#node-popUp {
    color: black;
    display: none;
    position: absolute;
    border-radius: 20px;
    z-index: 299;
    width: 240px;
    height: 150px;
    background-color: white;
    border-style: solid;
    /*border-width: 3px;*/
    border-color: #CDA434;
    padding: 2px;
    text-align: center;
    left: 575px;
    top: 40px;
}

#edge-popUp {
    color: black;
    display: none;
    position: absolute;
    border-radius: 20px;
    z-index: 299;
    width: 240px;
    height: 150px;
    background-color: #f9f9f9;
    border-style: solid;
    border-width: 3px;
    border-color: #CDA434;
    padding: 10px;
    text-align: center !important;
    left: 575px;
    top: 40px;
}

.marginbtn {
    margin-left: 75px;
}


/* Bordes para los bloques de mostrar */

:root {
    --dark: black;
    --danger: #CDA434;
}

.border-danger {
    border-color: var(--dark) !important;
    border-radius: 20px;
    min-height: 200px !important;
    max-width: 350px;
}

.border-danger:hover {
    border-color: var(--danger) !important;
    border-radius: 20px;
    min-height: 200px !important;
    max-width: 350px;
}

#grafos .dividerGr {
    border-bottom: 2px solid black;
    margin-left: 7% !important;
    margin-right: 7% !important;
    margin: 0;
}

.border-darks {
    border-color: var(--dark) !important;
    border-radius: 20px;
    min-height: 200px !important;
    max-width: 850px;
    margin-left: 10% !important;
    margin-left: 10% !important;
}